menupopup>menuseparator {
    display: none !important
}

menupopup {
    appearance: none !important;
    background-color: transparent !important;
    color: var(--arrowpanel-color) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
}

menuitem,
menu>menu,
menupopup>menu {
    appearance: none !important;
    border-radius: 6px !important;
}

menuitem[disabled=true],
menu[disabled=true] {
    pointer-events: none !important;
}

.menu-right {
    appearance: none !important;
    list-style-image: url(menu-right-1x.svg) !important;
}

menuitem[type=radio][checked=true] {
    list-style-image: url(checkmark-18dp.svg) !important;
}

menuitem[type=radio] .menu-iconic-icon {
    width: 16px !important;
    height: 16px !important;
    margin-inline-start: 0 !important;
}

menupopup::part(content),
.menupopup-arrowscrollbox {
    margin: 0px !important;
    background-color: #2e3440dd !important;
    border-width: 0px !important;
}
